/* 62.5% * 16px = 10px */
html {
  font-size: 62.5%;
}

body {
  background: url(/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 1.5rem auto;
  margin-top: 10rem;
  width: 270px;
  height: 180px;
  background-color: hsl(228, 53%, 29%);
  border-radius: 5% 30% 5% 5%; /* left, right , bottom-right, bottom-left */
}

.storage-container {
  width: 270px;
  height: 120px;
  margin: 0 auto;
  background-color: hsl(228, 53%, 29%);
  border-radius: 15px;
}

.logo-img {
  margin: 3rem;
  margin-bottom: 0;
  width: 130px;
}

.icon-layout {
  display: flex;
}

.icon {
  width: 50%;
}

.icon-container {
  width: 50px;
  height: 50px;
  background-color: hsl(229, 57%, 11%);
  margin: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  display: flex;
}
/* colors

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%)

*/
