/* 62.5% * 16px = 10px */
html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url(/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

p {
  margin: 0 0;
}
.container {
  margin: 1.5rem auto;
  margin-top: 20rem;
  width: 270px;
  height: 160px;
  background-color: hsl(228, 53%, 29%);
  border-radius: 5% 38% 8% 5%; /* left, right , bottom-right, bottom-left */
}

.storage-container {
  width: 290px;
  height: 120px;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: hsl(228, 53%, 29%);
  border-radius: 15px;
}

.logo-img {
  margin: 3rem;
  margin-bottom: 0;
  width: 130px;
}

.icon-layout {
  display: flex;

  margin-left: 3rem;
}

.icon {
  width: 50%;
}

.icon-container {
  width: 40px;
  height: 40px;
  background-color: hsl(229, 57%, 11%);
  margin: 1.4rem;
  margin-right: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  display: flex;
}

.text-container {
  display: flex;
  margin: 1rem auto;
  padding-top: 2rem;
  margin-bottom: 1rem;
  width: 90%;
}

.storage-used,
.highlight {
  color: hsl(243, 100%, 93%);
  font-size: 1.3rem;
  padding-right: 1rem;
}

.storage-used {
  color: hsl(240, 1%, 83%);
  font-weight: 300;
}
.storage-used:nth-child(1) {
  padding-left: 3rem;
}

.slider-container {
  width: 80%;
  height: 13px;
  margin: 0 auto;
  border: 2.9px solid hsl(229, 57%, 11%);
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
}

.slider {
  width: 75%;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
}

.slider-dot {
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 30px;
  position: relative;
  top: -11.5px;
  left: 160px;
}

.storage-amount {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  color: hsl(243, 100%, 93%);
}

.storage-left {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background: white;
  position: relative;
  left: 70px;
  top: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage-left h1 {
  font-size: 4rem;
  color: hsl(229, 57%, 11%);
}

.storage-left p {
  font-size: 1.3rem;
  color: hsl(240, 1%, 65%);
  padding-left: 1rem;
}

/* colors

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%)

*/
